body {
    margin: 0;
    line-height : 1,4;
    letter-spacing:0,2px;
    font-family: "Source Sans Pro", sans-serif;

}
.header {
    background:grey;
    padding: 20px;
    height: auto;
    color : #FFFFFF;
    text-align :center;

 }

 .header img {
     width : 100%;
    padding: 20px;
     
 }

 .header-nav {
     display:inline-block;
     width : 300px;
     margin:20px 0;
     text-align: center;
 }

 .header-nav a {
     padding: 0 10px;
     color :inherit;
     text-decoration:none;
     
 }

 .header-nav a:hover {
     text-decoration: underline;
 }

 .header-title {
     margin-top: 0px;
     font-style: italic;
 }
 .main {
     background: lightgrey;
     padding : 20px;
     font-size : 16px
      }

.main p {
    text-decoration: underline;
    text-align: justify;
}

.footer {
    background:grey;
    padding : 10px 20px;
}

