body {
    margin: 0;
    line-height : 1,4;
    letter-spacing:0,2px;
    font-family: "Source Sans Pro", sans-serif;
}
.header {
    background:grey;
    padding: 20px;
    height: auto;
    color : #FFFFFF;

 }

 .header img {
     width : 100%;
    padding: 20px;
     
 }

 .header-nav {
     margin:50px 0;
 }

 .header-nav a {
     padding: 0 10px;
     color :inherit;
 }

 .header-title {
     margin-top: 0px;
 }
 .main {
     background: lightgrey;
     padding : 20px;
     font-size : 16px
      }

.footer {
    background:grey;
    padding : 10px 20px;
}

