.header {
    background:grey;
    padding: 20px;
 }

 .header img {
     width : 100%;
    padding: 20px
     height : auto;
 }

 .main {
     background: lightgrey;
     padding : 20px;
      }

.footer {
    background:grey;
    padding : 10px 20px;
}